// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.messagebox {
  width: 300px;
  height: 100px;
  border: solid 2px black
}
